body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height:100%;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: -webkit-fill-available;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, .1);
}

.page-header{
    display:flex;
  justify-content:space-between;
  align-items:flex-end;
    padding-left:0.5em; 
}

.brand-info {
    position:absolute;
    right:0.5em;
    top:18px;

    color:#b0b0b0;
    font-size:0.95rem;
    font-weight:400;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.shaderight {
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, .1)
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }


.content {
  padding:1em;
  
}
.alert-success {
  padding:0.3em !important;
}
.success {
  color:green;
  font-weight:bold;
}
.form-label {
  font-weight:700;
  padding:0;
  line-height:1.5em;
  margin:0;
} 


#tiltContainer {
    display: grid;
    grid-template-columns:
        repeat(
            auto-fit,
            minmax(400px, 1fr)
        );

    gap: 20px;

    padding: 20px;
}
.tilt-metric {
    display:flex;
    justify-content:space-between;
    padding:8px 0;
}
.tilt-card {
    background:#fff;
    border:1px solid #d9d9d9;
    border-radius:8px;
    padding:16px;
    min-width:320px;
}

.tilt-name {
    font-size:1.3rem;
    font-weight:bold;
    margin-bottom:2px;
}
.tilt-cloudurl {
    font-size:0.7rem;
    font-weight:normal;
    margin-bottom:7px;
    min-height:0.8em;
}

.tilt-color-bar {
    height:10px;
    border-radius:4px;
    margin-bottom:16px;
}

.tilt-metric.current span:last-child {
    font-weight:700;
    font-size:2.1rem;
    line-height:2.1rem;
}
.tilt-metric.current span {
  line-height:2.5rem;
  vertical-align: text-bottom;
}

.tilt-color-bar.green {
    background:#00aa00;
}

.tilt-color-bar.red {
    background:#cc0000;
}

.tilt-color-bar.black {
    background:#111;
}

.tilt-color-bar.purple {
    background:purple;
}

.tilt-color-bar.orange {
    background:orange;
}

.tilt-color-bar.blue {
    background:dodgerblue;
}

.tilt-color-bar.yellow {
    background:gold;
}

.tilt-color-bar.pink {
    background:hotpink;
}
@media (max-width: 699px){ 
  h1 {
    font-size:1.4em;  
  }
  .content {
    padding:0.8em;
    
  }
  .brand-info {
    display:none;
  }
  #tiltContainer {
      display: grid;
      grid-template-columns:
          repeat(
              auto-fit,
              minmax(270px, 1fr)
          );
  
      gap: 20px;
  
      padding: 15px;
  }
  .tilt-card {
    background:#fff;
    border:1px solid #d9d9d9;
    border-radius:8px;
    padding:16px;
    min-width:270px;
  }
}
